<?xml version='1.0' encoding='utf-8'?>
<widget id="io.eventures.IonicEvtrs" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>IonicEvtrs</name>
    <description>

    </description>
    <author email="dev@eventures.io" href="http://eventures.io">
        Eventures Team
    </author>
    <icon src="icon.png" />
    <content src="index.html" />
    <!--<access origin="*" />-->
    <access origin="https://findery.com" />
</widget>
