
    <ion-side-menus>

        <ion-pane ion-side-menu-content ng-controller="AppCtrl">
            <ion-nav-bar class="bar-stable">
                <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back
                </ion-nav-back-button>
            </ion-nav-bar>
            <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
        </ion-pane>

        <ion-side-menu side="left">

            <ion-content class="side-menu-bg">

                <!-- Toggle menu in controller -->
                <!--<span ng-click="toggleMenuLeft()">Toggle menu</span>-->

                <div class="menu-override">
                    <ion-list>
                        <ion-item nav-clear class="menu-btn-login" menu-close ng-click="login()">
                        <span class="menu-btn">
                            <i class="icon-user"></i>
                        </span>
                        </ion-item>
                        <ion-item nav-clear class="menu-btn-search" menu-close href="#/app/search">
                        <span class="menu-btn">
                            <i class="icon-flashlight"></i>
                        </span>
                        </ion-item>
                        <ion-item nav-clear class="menu-btn-post" menu-close href="#/app/post">
                        <span class="menu-btn">
                            <i class="icon-pencil"></i>
                        </span>
                        </ion-item>
                        <ion-item nav-clear class="menu-btn-list" menu-close href="#/app/list">
                        <span class="menu-btn">
                            <i class="icon-clipboard"></i>
                        </span>
                        </ion-item>
                    </ion-list>
                </div>

            </ion-content>
        </ion-side-menu>
    </ion-side-menus>

